html
  body
  .view-home

    .header
      img.logo.ng-enter(src="img/logo.png")

    .video-container
      .title Drag Files here
      .video(ng-repeat="video in videos")

        .preview(ng-if="video.percent < 100")
          .icone
            i.fa.fa-circle-o-notch.fa-spin
          .percent {{ video.percent }}%

        .preview(ng-if="video.percent == 100")
          img(src="{{video.preview}}")


        .title {{ video.title }}
        .duration(ng-if="video.percent == 100") {{ video.duration }}


