.view-home {
  color: white;
  .text-center();
  .header {
    .row;
    height:600px;
    .logo {
      margin-top:150px;
      width:250px;
      &.ng-enter {
        .animated;
        .fadeInDown;
      }
    }
  }
}
