.view-home {
  color: white;
  .text-center();
  .header {
    .row;
    .logo {
      margin:150px 0 50px 0;
      width:250px;
      &.ng-enter {
        .animated;
        .fadeInDown;
      }
    }
  }
  .video-container {
    .make-xs-column(8);
    .make-xs-column-offset(2);
    padding:30px;
    background: #eee;
    .title {
      font-weight:100;
      color:grey;
      margin-bottom: 10px;
    }
    .video {
      float:left;
      margin-left:10px;
      .preview {
        background-size: 200px 120px;
        -webkit-background-size: 200px 120px;
        width:200px;
        height:120px;
        background: black;
        line-height:120px;
        img {
          width:100%;
          height:100%;
        }
        .icone {
          .make-xs-column(6);
          .text-right;
          font-size: 2em;
          height:70px;

        }
        .percent {
          .make-xs-column(6);
          .text-left;
          font-weight:100;
        }
      }
      .title {
        color:grey;
        width:200px;
        font-weight:100;
      }
      .duration{
        color:grey;
        width:200px;
        font-weight:100;
      }

    }
  }
}
